.footer {
    position: fixed;
    left: 0;
    bottom: 0px;
    width: 100%;
    background-color: rgb(114, 110, 110);
    color: white;
    text-align: center;
    overflow: hidden;
  }

  /* #footer { position: fixed; bottom: 0px; height:150px; } */