.form {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.form * {
  display: flex;
  flex-direction: column;
  margin: 0.25rem;
  padding: 0.25rem;
}

.list * {
  margin: 0.25rem;
  padding: 0.25rem;
}
