.forms {
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 1rem;
}

.forms > span:first-of-type{
   width: 50%;
}

.forms input:first-of-type {
   width: 100%;
}

.forms > form {
   display: flex;
   justify-content: center;
   width: 40%;
 }

 .forms > form > input {
   width: 70%;
   margin: 0 0.75rem;
 }

 .forms > form > button {
   width: 3rem;
 }

/* .inner{
    display: inline-block;
    margin-left: 10px;
} */