<div *ngIf="selectedCatalogs && selectedCatalogs.length > 0">
  <p>{{ customerType }}</p>
  <div *ngIf="customerType == 'individual'">
    <p>{{ individualCustomerInfo.firstName }}</p>
    <p>{{ individualCustomerInfo.lastName }}</p>
    <p>{{ individualCustomerInfo.birthDate }}</p>
  </div>
  <div *ngIf="customerType == 'corporate'">
    <p>{{ corporateCustomerInfo.companyName }}</p>
    <p>{{ corporateCustomerInfo.taxNumber }}</p>
  </div>
  <p *ngFor="let item of selectedCatalogs">
    {{ item.name }}
    {{ item.price }}
    {{ item.serviceId }}
  </p>
  <button (click)="back()">Back</button>
  <button (click)="save()">Save</button>
</div>
