<div class="container">
    <form *ngIf="catalogs" [formGroup]="catalogForm"> 
      <div class="mb-3 form-check align-center" *ngFor="let item of catalogs; let i = index">
        <label for="catalog{{i}}" class="form-check-label"> {{ item.name }} {{item.price}}</label>
        <input type="checkbox" class="form-check-input" formControlName="selectedCatalogs[{{i}}]" id="catalog{{i}}" >
      </div>
      <button class="btn btn-success align-left" (click)="back()">Back</button>
      <button class="btn btn-success align-right" (click)="next()">Next</button>
   </form>
</div>