<div class="container">
    <div *ngIf="!!details">
        <h1>User Details</h1>
    <div class="row" *ngFor="let item of subscription">
        <div class="col-sm-3 mt-2 px-2 p-2 m-1">
            <div class="card">
              <div class="card-body">
                <i class="bi bi-person-bounding-box heading"></i>
                <h3 class="card-title">Customer Id: {{ details.customerId }}</h3>
                <h3 class="card-title">Name: {{ details.firstName }} {{ details.lastName }}</h3>
                <h3 class="card-title">National Identity: {{ details.nationalIdentity }}</h3>
                <h3 class="card-title">Birth Date: {{ details.birthDate }}</h3>
                <h3 class="card-title">Service Id: {{ item.serviceId }}</h3>
                <h3 class="card-title">Date Started: {{ item.dateStarted }} </h3>
            </div>
        </div>
    </div>
    </div>
</div>
<!-- <div *ngIf="subscription  && subscription.length>0"> -->
   