<div class="container">
    <div *ngIf="!!details">
        <h1>User Details</h1>
    <div class="row" *ngFor="let item of subscription">
        <div class="col-sm-3 mt-2 px-2 p-2 m-1">
            <div class="card">
              <div class="card-body">
                <i class="bi bi-person-bounding-box heading"></i>
                <h3 class="card-title"><strong>Customer Id:</strong> {{ details.customerId }}</h3>
                <h3 class="card-title"><strong>Name:</strong> {{ details.firstName }} {{ details.lastName }}</h3>
                <h3 class="card-title"><strong>National Identity:</strong> {{ details.nationalIdentity }}</h3>
                <h3 class="card-title"><strong>Birth Date:</strong> {{ details.birthDate }}</h3>
                <h3 class="card-title"><strong>Service Id:</strong> {{ item.serviceId }}</h3>
                <h3 class="card-title"><strong>Date Started:</strong> {{ item.dateStarted }} </h3>
            </div>
        </div>
    </div>
    </div>
</div>
<!-- <div *ngIf="subscription  && subscription.length>0"> -->
   