.gradient-custom {
   /* fallback for old browsers */
   background: #e9e6ec;
   
   /* Chrome 10-25, Safari 5.1-6 */
   background: -webkit-linear-gradient(to right, rgb(245, 245, 245), rgb(107, 158, 245));
   
   /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   background: linear-gradient(to right, rgb(145, 145, 146), rgb(68, 96, 146))
   }