<div class="row">
  <div class="card col-sm-3 mt-2 px-2 p-2 m-1" style="width: 18rem;" *ngFor="let item of corporateCustomers">
    <div class="card-body">
      <h5 class="card-title">{{ item.companyName }}</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <button (click)="showDetails(item.customerId)" type="button" class="btn btn-primary">Details</button>
    </div>
  </div>
</div>
<button (click)="goToCreateCustomerPage()" type="button" class="btn btn-primary float-right  mx-2 " style="--bs-btn-padding-y: .75rem; --bs-btn-padding-x: .75rem; --bs-btn-font-size: .75rem;">
  Create Customer
</button>