<div class="card services">
  <p-table
    [value]="services"
    dataKey="id"
    editMode="row"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 20%">Services</th>
        <th style="width: 10%">
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-plus"
            (click)="add()"
            class="p-button-rounded p-button-text p-button-success mr-2"
          ></button>
        </th>
      </tr>
    </ng-template>
    <ng-template
      pTemplate="body"
      let-service
      let-editing="editing"
      let-ri="rowIndex"
    >
      <tr [pEditableRow]="service">
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input
                pInputText
                type="text"
                [(ngModel)]="service.name"
                required
              />
            </ng-template>
            <ng-template pTemplate="output">
              {{ service.name }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <div class="flex align-items-center justify-content-center gap-2">
            <button
              *ngIf="!editing"
              pButton
              pRipple
              type="button"
              pInitEditableRow
              icon="pi pi-pencil"
              (click)="onRowEditInit(service)"
              class="p-button-rounded p-button-text"
            ></button>
            <button
              *ngIf="editing"
              pButton
              pRipple
              type="button"
              pSaveEditableRow
              icon="pi pi-check"
              (click)="onRowEditSave(service)"
              class="p-button-rounded p-button-text p-button-success mr-2"
            ></button>
            <button
              *ngIf="editing"
              pButton
              pRipple
              type="button"
              pCancelEditableRow
              icon="pi pi-times"
              (click)="onRowEditCancel(service, ri)"
              class="p-button-rounded p-button-text p-button-danger"
            ></button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<!--current-->

<!-- <div class="container">
  <div class="row">
    <div class="col">
      <div *ngIf="services" class="text-center">
        <h1 >Services</h1> 
        <ul class="list-group" *ngFor="let service of services | filterService: searchText">
          <li class="list-group-item"> {{ service.name }}
            <br>
          <div class="inner">
            <button class="btn btn-primary btn-sm mt-2 " (click)="edit(service.id)">Update</button>
          </div>
          <div class="inner">
            <button class="btn btn-dark btn-sm mt-2 mx-auto" (click)="delete(service.id)">Delete</button>
          </div>
      </li>
        </ul>
      </div>
    </div>
    <div class="col text-center">
      <h1>Filter By Name</h1> 
      <input [(ngModel)]="searchText" type="text" placeholder="Search By Name"/>
      <br> <br>
      <form [formGroup]="addForm" (submit)="add()">
        <h1>Add Service</h1> 
        <input formControlName="name" type="text" placeholder="Enter service name" />
        <br>
        <button type="submit" class="btn btn-primary mt-2">Add</button>
        <p>{{ addError }}</p>
      </form>
      <form *ngIf="isEditing" [formGroup]="editForm" (submit)="update()">
        <h1>Update Service</h1>
        <input formControlName="name" type="text" placeholder="Enter service name" />
        <br>
        <button type="submit" class="btn btn-primary mt-2">Update</button>
        <p>{{ editError }}</p>
      </form>
  </div>
</div> -->
