
<input [(ngModel)]="searchText" type="text" />
<!--services !== null-->
<ul *ngIf="services">
  <li *ngFor="let item of services | filterService: searchText">
    {{ item.name }}
  </li>
</ul>

<!-- <div class="row">
    <div class="col-sm-3 mt-2 px-2 p-2 m-1" *ngFor="let service of services">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{service.name}}</h5>
        </div>
    </div>
</div> -->
<!-- <div class="card text-center">
    <div class="card-header">
      Services
    </div>
    <div class="card">
        <div class="card-body" *ngFor="let service of services">
            <h5 class="card-title">{{service.name}}</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </div>
          <div class="card-footer text-muted">
            Pair 4
          </div>
    </div>
  </div> -->
<!-- <div  class="row">
    <ng-template ngFor let-item [ngForOf]="products" >
        <ng-template class="col-sm-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{ item.name }}</h5>
                <p class="card-text">{{ item.description }}</p>
            </div>
        </div>
    </ng-template>
</ng-template> -->

